
.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
  padding: 1em;

  font-size: 140%;
  text-align: center;

  transition: opacity 0.2s ease-in-out;
}

.header__title {
  display: inline;

  margin: 0;
  padding: 0;

  font-size: inherit;
  font-weight: 600;
}

.navigation__link {
  display: inline-block;

  padding: 0 0.5em;

  color: black;
  text-decoration: none;

  opacity: 0.7;
  outline: none;

  transition: opacity 0.2s ease-in-out;
}

.navigation__link:hover,
.navigation__link:focus {
  opacity: 1;
}
